/* Navbar CSS */
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-title{
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0.45cm;
    margin-right: 1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-title:hover{
    color:rgb(37, 131, 6);
}

.nav-title-dropdown{
    color: aliceblue;
    font-size: large;
    font-weight: 700;
}

.logo{
    color: aliceblue;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Parallax CSS*/
.custom-bg{
    height: 10cm;
}

/* Landingpage CSS */
.background{
    background-color: black;;
}

.background-img{
    height: 15cm;
}

.content{
    text-align: center;
    color: aliceblue;
}

.title{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5cm;
}

.home-btn{
    height: 1.5cm;
    width: 5cm;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    position: relative;
    border: none;
}

.text-btn{
    margin-top: 8cm;
    margin-right: 1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bold;
}

.home-btn:hover{
    border: 2px solid white;
    box-shadow: 7px 5px 56px -14px #fff;
}

/* Angebote CSS */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .img1,
  .img2 {
    max-width: 100%;
    max-height: 100%;
  }
  







